<div class="d-flex flex-column flex-md-row align-items-center pb-3 mb-4 border-bottom">
    <a routerLink="/">
      <img src="/assets/images/345925863_3318278685130503_997785422402260873_n-removebg-preview.png" style="max-height:120px;height: 120px;;" alt="null logo">
    </a>

    <nav class="d-flex flex-grow-1 justify-content-center" style="font-size: larger">
      <a  class="me-3 py-2 text-decoration-none" routerLink="/home" routerLinkActive="active" [routerLinkActiveOptions]="{exact : true}">Home</a>
      <a class="me-3 py-2 text-decoration-none" routerLink="/" routerLinkActive="active" [routerLinkActiveOptions]="{exact : true}">Shop</a>
      <a class="me-3 py-2 text-decoration-none" routerLinkActive="actve" [routerLinkActiveOptions]="{exact : true}">Contact</a>
      <a class="me-3 py-2 text-decoration-none" routerLink="/test-error" routerLinkActive="active"  [routerLinkActiveOptions]="{exact : true}">Support! </a>
      <a class="py-2 text-decoration-none" routerLink="/crud" routerLinkActive="active"  [routerLinkActiveOptions]="{exact : true}">Admin !</a>
    </nav>
    <div class="d-flex align-items-center">
        <a routerLink="/basket" style="position: relative;" class="mx-5 text-decoration-none">
            <fa-icon size="2x" style="color:blue;" [icon]="faCartShopping"></fa-icon>
            <div style="   position: absolute;
            top: -12px;
            left: 32px;
            background: red;
            color: #fff;
            border-radius: 50%;
            min-width: 25px;
            min-height: 25px;
            text-align: center;" class="card-no" *ngIf="(this.basketService.basket)">
            {{this.basketService.basket.items.length}}</div>
        </a>
i        <a href="" class="btn btn-primary me-3">Login</a>
        <a href="" class="btn btn-primary me-3">Sign Up</a>
    
    </div>
  </div>